__init__.py
__pycache__
static/eypietew.txt
kvzawpeyvm/wvzalkawe/__pycache__/xoy.cpython-36.pyc
kvzawpeyvm/rulpawirintukuwe/__pycache__/KimamWirintukun.cpython-36.pyc
kvzawpeyvm/__pycache__/__init__.cpython-37.pyc
kvzawpeyvm/__pycache__/__init__.cpython-38.pyc
kvzawpeyvm/rulpawirintukuwe/Reglas/__pycache__/reglas12.cpython-37.pyc
kvzawpeyvm/rulpawirintukuwe/Reglas/__pycache__/reglas13.cpython-37.pyc
kvzawpeyvm/rulpawirintukuwe/Reglas/__pycache__/reglas21.cpython-37.pyc
kvzawpeyvm/rulpawirintukuwe/Reglas/__pycache__/reglas23.cpython-37.pyc
kvzawpeyvm/rulpawirintukuwe/Reglas/__pycache__/reglas31.cpython-37.pyc
kvzawpeyvm/rulpawirintukuwe/Reglas/__pycache__/reglas32.cpython-37.pyc
kvzawpeyvm/rulpawirintukuwe/__pycache__/KimamWirintukun.cpython-37.pyc
kvzawpeyvm/wvzalkawe/__pycache__/__init__.cpython-38.pyc
kvzawpeyvm/wvzalkawe/__pycache__/koyam.cpython-37.pyc
kvzawpeyvm/wvzalkawe/__pycache__/koyam.cpython-38.pyc
kvzawpeyvm/wvzalkawe/__pycache__/xoy.cpython-37.pyc
